@model IEnumerable<ExamenAWSMiguelRicoç.Models.Apuesta>

@{
    ViewData["Title"] = "GetApuestas";
}

<h1>GetApuestas</h1>

<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Apuestas" asp-action="NuevaApuesta">Nueva Apuesta</a></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdApuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEquipoLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEquipoVisitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GolesEquipoLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GolesEquipoVisitante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdApuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEquipoLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEquipoVisitante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GolesEquipoLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GolesEquipoVisitante)
            </td>
            <td>
               
            </td>
        </tr>
}
    </tbody>
</table>
