@model IEnumerable<ExamenAWSMiguelRicoç.Models.Jugador>

@{
    ViewData["Title"] = "GetJugadores";
}

<h1>GetJugadores</h1>

<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Apuestas" asp-action="NuevoJugador" asp-route-idequipo="@ViewData["IDEQUIPO"]">Nuevo Jugador</a></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdJugador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEquipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdJugador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEquipo)
            </td>
            <td>
                
            </td>
        </tr>
}
    </tbody>
</table>
